.ds-comment-body
  > p
    color: #BDBDBD !important;
  .ds-comment-header
    > span.ua
      > span[class^="ua_"]
        background: #9575CD !important;
        padding: 0 5px !important;
        border: 1px solid #9575CD !important;
        border-radius: 6px !important;
      > span[class^="os_"]
        margin-left: 1em !important;
        background: #F06292 !important;
        padding: 0 5px !important;
        border: 1px solid #F06292 !important;
        border-radius: 6px !important;
